.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    background-image: url("./beach_sand.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    z-index: 2;
    overflow-y: scroll;
}

.navbar-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 998;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

.center {
    padding: 10px;
    margin-top: 20%;
    margin-bottom: 10%;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
    padding-top: 45px;
}

.first-para {
    text-align: left;
    padding: 20px;
    color: rgb(36, 36, 36);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(190, 182, 159, 0.75);
    float: left;
}

.second-para {
    text-align: left;
    padding: 20px;
    color: rgb(36, 36, 36);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(190, 182, 159, 0.75);
    float: right;
}

.third-para {
    text-align: left;
    padding: 20px;
    color: rgb(36, 36, 36);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(190, 182, 159, 0.75);
    float: left;
}

.forth-para {
    text-align: left;
    padding: 20px;
    color: rgb(36, 36, 36);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(190, 182, 159, 0.75);
    float: right;
}

.fifth-para {
    text-align: left;
    padding: 20px;
    color: rgb(36, 36, 36);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(190, 182, 159, 0.75);
    float: left;
}

.header-text {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    top: -10px;
}

.footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.623);
}

.footer-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
}

.first-iframe {
    float: right;
    padding: 20px;
}

.second-iframe {
    float: left;
    padding: 20px;
}

.third-iframe {
    float: right;
    padding: 20px;
}

.forth-iframe {
    float: left;
    padding: 20px;
}

.fifth-iframe {
    float: right;
    padding: 20px;
}

p2 {
    font-size: 24px;
    font-style: italic;
}